<div class="card">
  <div class="card-header">
    Decompress
  </div>
  <div class="card-body">
    <form #form="ngForm" (ngSubmit)="decompressString(form)">
      <div class="form-group">
        <label for="inputString">Input String</label>
        <input type="text"
               class="form-control"
               [ngClass]="{'is-invalid': inputString.errors && inputString.dirty}"
               id="inputString"
               name="inputString"
               #inputString="ngModel"
               [ngModel]="decompressForm.inputString"
               pattern="[^0-9]([a-fA-F0-9]+)?$"
               required>
        <ng-container *ngIf="inputString.errors && inputString.dirty">
          <div class="invalid-feedback" *ngIf="inputString.errors.required">
            Field is required
          </div>
          <div class="invalid-feedback" *ngIf="inputString.errors.pattern">
            Field cannot begin with a number <br> Should includes numbers and next chars (a-f)
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="decompressedString">Decompressed String</label>
        <input type="text"
               class="form-control"
               id="decompressedString"
               name="decompressedString"
               [ngModel]="decompressForm.decompressedString"
               readonly>
      </div>

      <button type="submit" class="btn btn-primary mr-2" [disabled]="form.invalid || loading">Decompress</button>
      <button type="button" class="btn btn-secondary" (click)="clear(form)">Clear</button>
    </form>
  </div>
</div>
