<div class="card">
  <div class="card-header">
    Compress
  </div>
  <div class="card-body">
    <form #form="ngForm" (ngSubmit)="compressString(form)">
      <div class="form-group">
        <label for="inputString">Input String</label>
        <input type="text"
               class="form-control"
               [ngClass]="{'is-invalid': inputString.errors && inputString.dirty}"
               id="inputString"
               name="inputString"
               #inputString="ngModel"
               [ngModel]="compressForm.inputString"
               pattern="[a-fA-F]+$"
               required>
        <ng-container *ngIf="inputString.errors && inputString.dirty">
          <div class="invalid-feedback" *ngIf="inputString.errors.required">
            Field is required
          </div>
          <div class="invalid-feedback" *ngIf="inputString.errors.pattern">
            Field should includes next chars (a-f)
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="compressedString">Compressed String</label>
        <input type="text"
               class="form-control"
               id="compressedString"
               name="compressedString"
               [ngModel]="compressForm.compressedString"
               readonly>
      </div>

      <button type="submit" class="btn btn-primary mr-2" [disabled]="form.invalid || loading">Compress</button>
      <button type="button" class="btn btn-secondary" (click)="clear(form)">Clear</button>
    </form>
  </div>
</div>
