.bar {
  width: 100%;
  height: 4px;
  background: rgba(220, 56, 72, 0.3);
  overflow: hidden;
  position: absolute;

  &.suspense {
    position: fixed;
    left: 0;
    top: 56px;
    width: 100%;
  }

  div:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: #dc3545;
    animation: box-1 2100ms cubic-bezier(0.65, 0.81, 0.73, 0.4) infinite;
  }

  div:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: #dc3545;
    animation: box-2 2100ms cubic-bezier(0.16, 0.84, 0.44, 1) infinite;
    animation-delay: 1150ms;
  }
}

@keyframes box-1 {
  0% {
    left: -35%;
    right: 100%;
  }
  60%, 100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes box-2 {
  0% {
    left: -200%;
    right: 100%;
  }
  60%, 100% {
    left: 107%;
    right: -8%;
  }
}
