<div class="page">
  <tabset [justified]="true">
    <tab heading="Compress">
      <app-compress class="d-block mt-4"></app-compress>
    </tab>

    <tab heading="Decompress">
      <app-decompress class="d-block mt-4"></app-decompress>
    </tab>
  </tabset>
</div>
